.RecordSection {
  width: 100%;

  .RecordSectionHeading {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 2mm;
  }

  .RecordSectionContent {
    display: flex;
    flex-direction: column;
    gap: 2mm;

  }


}
