.Record {
  display: flex;
  width: 100%;
  gap: 2mm;

  .RecordLeftSide {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5mm;
  }

  .RecordTimestamp {
    width: 28mm;
    min-width: 28mm;

    text-align: right;
  }

  .RecordTimestamp,
  .RecordHeading {
    font-weight: 500;
  }

  .RecordContent {
    display: flex;
    flex-wrap: wrap;
  }
}
